@use "../../styles/vars";

.header {
  background-color: vars.$principalColor;
  color: vars.$distinctColor;
  text-align: center;
  padding: 2rem;

  &__title {
    font-size: 4rem;
    font-weight: bold;
    font-family: "Luckiest Guy", cursive;
  }

  &__input {
    background: url("../../assets/carb.png");
    color: vars.$principalColor;
    border: 4px solid vars.$alternativeColor;
    padding: 0.5rem;
    font-size: 1.6rem;
    margin-top: 0.6rem;
  }
}
h3 {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
}
