@use "../../styles/vars";

.result {
  background-color: vars.$distinctColor;
  color: vars.$principalColor;
  text-align: center;
  padding: 2rem;

  &__amount {
    font-size: 5rem;
    font-weight: bold;
    font-weight: 700;
  }
  &__currency {
    font-family: "Luckiest Guy", cursive;
    font-size: 2rem;
    margin-top: 1rem;
  }
}
